header
  h2
    font-size: 2rem
    padding-left: 1.25rem
    margin-top: -3rem

    a
      color: white
      text-decoration: none

  p
    padding-left: 1.25rem
    margin-top: -1.25rem
    font-size: 1rem

    &:first-of-type
      color: #aaa
      margin-top: -2rem

  div
    width: 100%
    overflow: hidden

    img
      width: 100%
      height: auto
      border: 1px solid black

@media all and (max-width: 50rem)
  header
    p
      font-size: .75rem
