header
  h2
    font-size: 32px
    padding-left: 20px
    margin-top: -51px

    a
      color: white
      text-decoration: none

  p
    padding-left: 20px
    margin-top: -20px
    font-size: 16px

    &:first-of-type
      color: #aaa
      margin-top: -30px

  div
    width: 100%
    overflow: hidden

    img
      width: 100%
      height: auto
      border: 1px solid black
