.recent-posts

  article
    border-bottom: 1px solid #EEE
    margin-bottom: 1rem
    padding-bottom: 1rem
    max-width: 100%

    *
      max-width: 100%

    blockquote
      font-style: italic
      margin: 0
      padding: 0 1rem

    time
      color: #AAA

    h1
      font-size: 2rem
      margin: 0
      font-weight: 300
      line-height: 1.2

      a
        text-decoration: none

    h2, h3, h4, h5
      font-size: 1rem


    &:last-of-type
      border: none

    code
      padding: 0 5px;
      margin: 0 2px;
      font-size: .9rem;
      line-height: 1.5;
      white-space: pre-wrap;
      background-color: #efefef;
      border: 1px solid #f7f7f7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

    blockquote
      padding-left: 1rem
      margin-left: 0
      font-family: 'PT Serif',serif
      font-style: italic
      border-left: .5rem solid #333332
