.post-wrapper
  // overflow: hidden

  aside
    padding-bottom: 1rem

  img
    width: 100%

  aside
    color: #aaa

  hr
    border: 1px solid #ccc

  h1
    font-size: 2rem
    margin: 0
    // font-weight: 300
    line-height: 1.2

    a
      text-decoration: none
      color: $black

      &:hover
        color: $blue

  h2, h3, h4, h5, h6
    // font-weight: 300

  a.anchor
    text-decoration: none
    color: $black

    &:hover
      color: $blue
      text-decoration: underline

  .tags
    a
      padding-right: .5rem

  code
    padding: 0 5px;
    margin: 0 2px;
    font-size: .9rem;
    line-height: 1.5;
    white-space: pre-wrap;
    background-color: #efefef;
    border: 1px solid #f7f7f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

  blockquote
    padding-left: 1rem
    margin-left: 0
    font-family: 'PT Serif',serif
    font-style: italic
    border-left: .5rem solid #333332
