html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  font-family: -apple-system, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-size: 16px
  line-height: 1.5
  color: $black
  text-rendering: optimizeSpeed
  padding-bottom: 5.5rem

a
  color: $blue

ul ul
  padding-left: 1rem

ul ul li
  list-style-type: disc

.layout
  display: -webkit-flex;
  display: flex;

  aside
    padding-left: 1rem

  main
    padding: 1rem
    max-width: 38rem
    margin: auto

@media all and (max-width: 50rem)
  .layout
    flex-direction: column
